<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<div class=footer>
			<div class="footer-content">
				<div class="contact">
					<h3>Reach Us:</h3>
					<div class="address">
						<h4>Address:</h4>
						<p>15, Municipal Colony, Railway Lines, Solapur, Maharastra</p>
					</div>
					<div class="email">
						<h4>Email:</h4>
						<p>la_creation@yahoo.co.in</p>
					</div>
					<div class="phone">
						<h4>Phone No.</h4>
						<p>+91 9890516610</p>
					</div>
					<div class="social-media">
						<div class="facebook">
							<a href="#" target="_blank"><img src="/images/facebook.svg"></a>
						</div>
						<div class="instagram">
							<a href="#" target="_blank"><img src="/images/instagram.svg"></a>
						</div>
						<div class="whatsapp">
							<a href="#" target="_blank"><img src="/images/whatsapp.svg"></a>
						</div>
					</div>
				</div>
				<div class="feedback-form">
					<h4>Feedback:</h4>
					<div class="form w50">
						<input type="text" id="fd_name" autocomplete="off" placeholder="Name" required="">
					</div>
					<div class="form w50">
						<input type="text" id="fd_email" autocomplete="off" placeholder="Email" required="">
					</div>
					<div class="form message w100">
						<textarea id="fd_message" autocomplete="off" placeholder="Write your message"></textarea>
					</div>
					<button type="button" id="submit_modal">Submit</button>
				</div>
			</div>
			<div class="footer-bottom">
				<p>Copyright &copy; 2020 <span>Cocoa Beans</span>. All Rights Reserved</p>
			</div>
		</div>
	</body>
</html>